* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: darkgray;
    border-radius: 5px;
    width: 200px;
    height: 100px;

    padding: 10px;
}